.TicketCard{
    border-width: 2px;
    border-color: #17A2B8;
    background-color: #17A2B8;
}

.IssueList{
    float: left;
    width: 25%;
    overflow-y: scroll;
    
}

.CurrentIssue{
    position: middle right;
    width: 99%;
    
}